{% extends "shared/layout.html" %}

{% block title %}
    صفحه ثبت نام مشتری
{% endblock %}

{% block content %}
    <div class="auth-header">
        <span class="auth-icon">📝</span>
        <h2>ثبت‌نام در کافی نت</h2>
        <p class="auth-subtitle">حساب کاربری جدید بسازید</p>
    </div>
    <form action="{% url 'customer_signup' %}" method="post" class="auth-form" id="registerForm">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-group">
            <label class="input-label">👤 نام و نام خانوادگی</label>
            {{ form.full_name }}
            {{ form.full_name.errors }}
        </div>
        <div class="input-group">
            <label class="input-label">👤 نام کاربری</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="input-group">
            <label class="input-label">📱 شماره تلفن</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>

        <div class="input-group">
            <label class="input-label"> ایمیل</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="input-group">
            <label class="input-label">🔒 رمز عبور</label>
            <div class="password-wrapper">
                {{ form.password }}
                <button type="button" class="toggle-password" id="togglePasswordBtn">👁️</button>
            </div>
            {{ form.password.errors }}
        </div>

        <button type="submit" class="auth-submit-btn">
            <span>✨</span> تکمیل ثبت‌نام
        </button>
    </form>
    <div class="auth-switch">
        قبلاً حساب دارید؟
        <a href="{% url 'customer_signup' %}" class="text-btn">وارد شوید</a>
    </div>
{% endblock %}