{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover">
    <title>{% block title %}{% endblock %}</title>
    {% block extera_css %}{% endblock %}
    {% include "shared/site_header_references.html" %}
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="toast {{ message.tags }}">
            <span class="toast-icon">
                {% if message.tags == 'success' %}
                    ✓
                {% elif message.tags == 'error' %}
                    ✕
                {% endif %}
            </span>
            <div class="toast-content">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<main id="page-content">
    {% block content %}{% endblock %}
</main>
<!-- نوار پایین -->
<nav class="bottom-nav">
    <a href="/" id="homeBtn" class="nav-item"><span>🏠</span><span>خانه</span></a>
    {% if not request.user.is_authenticated and not request.session.operator_id %}
        <a href="{% url 'customer_signup' %}" class="nav-item"
           id="navReg"><span>📝</span><span>ثبت‌نام کاربران</span></a>
        <a href="{% url 'customer_login' %}" class="nav-item" id="navLog"><span>🔐</span><span> ورود کاربران</span></a>
        <a href="{% url 'operator_login' %}" class="nav-item" id="navOp"><span>👨‍💼</span><span> ورود اپراتور</span></a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a class="nav-item" id="userPanBtn" href='{% url 'profile' %}'>
            <span>👤</span>
            <span>پنل کاربری</span>
        </a>
        {% if request.user.is_superuser %}
            <a href="/admin" class="nav-item"><span>📊</span><span>پنل جنگو</span></a>
            <a href="{% url 'admin_dashboard' %}" class="nav-item"><span>👑</span><span>پنل مدیریت</span></a>
        {% endif %}
        <a href="{% url 'logout' %}" class="nav-item"><span>🚪</span><span>خروج</span></a>
    {% endif %}
    {% if request.session.operator_id %}
        <a class="nav-item" id="userPanBtn" href='{% url 'operator_panel' %}'>
            <span>👨‍💼</span>
            <span>پنل اپراتور</span>
        </a>
        <a href="{% url 'logout' %}" class="nav-item"><span>🚪</span><span>خروج</span></a>
    {% endif %}
</nav>
{% include "shared/site_footer_references.html" %}
{% block extra_js %}{% endblock %}
</body>
</html>